/* fonts css */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: local("Spoqa Han Sans-Bold"),
    url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: local("Spoqa Han Sans-Medium"),
    url("../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: local("Spoqa Han Sans-Regular"),
    url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}

:root {
  /* color */
  --custom-white: #fcfcfc;
  --title-black: #333;
  /* size */
  --header-padding: 20px;
  --scroll-height: 50px;
  /* other */
  --duration: 300ms;
  --loading-duration: 3s;
  --homeAni-duration: 2s;
}

html,
body,
.main {
  height: 100%;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.hide {
  display: none;
}

/* loading */
.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 130%;
  background-color: white;
  animation: var(--loading-duration) forwards loadingAni;
}
@keyframes loadingAni {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* header */
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--header-padding);
  background-color: var(--custom-white);
  z-index: 9998;
}
.header__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
}
.header__title:hover {
  opacity: 1;
}
.gnb-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__container {
  position: absolute;
  max-height: 0;
  top: 76px;
  left: 0;
  right: 0;
  background-color: var(--custom-white);
  overflow: hidden;
  transition: max-height var(--duration) ease-in-out;
}
.header__container.active {
  max-height: 100vh;
}
.header__container--items {
  display: flex;
  flex-direction: column;
}
.header__container--items__item {
  text-align: center;
}
.header__container--items__item:not(:first-child) {
  margin-top: -1px;
}
.header__container--items__item--link {
  display: inline-block;
  width: 100%;
  padding: var(--header-padding) 0;
  border-style: solid;
  border-width: 1px 0;
  border-color: transparent;
  opacity: 0.7;
}
.header__container--items__item--link:hover,
.header__container--items__item.active .header__container--items__item--link {
  border-color: black;
  opacity: 1;
}

/* home */
#home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: fixed #d2d0d1 url("../images/landing-img.jpg") no-repeat
    bottom/cover;
}
.home--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--title-black);
  font-size: 1.5rem;
  text-align: center;
  opacity: 0;
  animation: var(--homeAni-duration) var(--loading-duration) forwards homeAni;
}
.home--title::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  margin: 20px 0;
  background-color: var(--title-black);
}
.home__desc {
  display: flex;
  color: rgba(51, 48, 0, 0.8);
  opacity: 0;
  animation: 3s calc(var(--loading-duration) + 1s) forwards homeAni;
}
@keyframes homeAni {
  0% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.home__sub {
  position: relative;
  width: 110px;
  text-align: center;
  box-shadow: inset 0 -4px 0 #d9fcdb;
  overflow: hidden;
}
.home__sub--contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  animation: var(--homeAni-duration) ease-in-out var(--homeAni-duration)
    infinite alternate subAni;
}
@keyframes subAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(2rem);
  }
}
.home__scroll {
  position: absolute;
  display: flex;
  align-items: center;
  height: var(--scroll-height);
  padding-left: 10px;
  left: 50%;
  bottom: 0;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.home__scroll::before,
.home__scroll::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1px;
  height: var(--scroll-height);
  left: 0;
}
.home__scroll::before {
  background-color: rgba(155, 155, 155, 0.4);
}
.home__scroll::after {
  top: calc(var(--scroll-height) * -1);
  background-color: rgba(155, 155, 155, 0.9);
  animation: 3s infinite scrollAni;
}
@keyframes scrollAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--scroll-height));
  }
  100% {
    transform: translateY(calc(var(--scroll-height) * 2));
  }
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
}

/* desk */
@media all and (min-width: 1024px) {
  /* header */
  .header {
    background-color: transparent;
  }
  .gnb {
    display: none;
  }
  .header__container {
    position: relative;
    display: block;
    max-height: 100%;
    top: 0;
    background-color: transparent;
  }
  .header__container--items {
    flex-direction: row;
  }
  .header__container--items__item:not(:first-child) {
    margin-top: 0;
    margin-left: -1px;
  }
  .header__container--items__item--link {
    padding: var(--header-padding);
    border-width: 1px;
  }
}
